<!-- Navigation Start  -->
		<nav class="navbar navbar-default navbar-sticky bootsnav">

			<div class="container">
				<!-- Start Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="/"><img src="img/logo.png" class="logo" alt=""></a>
				</div>
				<!-- End Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
									<li><a href="/">Home</a></li>
									<li><a href="/">Jobs</a></li>
									<li><a href="/">Login</a></li>
									<li><a href="/">Companies</a></li>
						</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- Navigation End  -->

		<!-- login section start -->
<section class="jobs">
	<div class="container">
		<div class="row heading">
			<h2>Search Your Job</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
		</div>
		<div class="row top-pad">
			<div class="filter">
				<div class="col-md-2 col-sm-3">
					<p>Search By:</p>
				</div>

				<div class="col-md-10 col-sm-9 pull-right">
					<ul class="filter-list">
						<li>
							<input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked="">
							<label for="checkbox-1" class="part-time checkbox-custom-label">Part Time</label>
						</li>

						<li>
							<input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
							<label for="checkbox-2" class="full-time checkbox-custom-label">Full Time</label>
						</li>

						<li>
							<input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
							<label for="checkbox-3" class="freelancing checkbox-custom-label">Freelancing</label>
						</li>

						<li>
							<input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox">
							<label for="checkbox-4" class="internship checkbox-custom-label">Internship</label>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="companies">



				{{#each jobs}}
							<div class="company-list">
								<div class="row">
									<div class="col-md-2 col-sm-2">
										<div class="company-logo">
											<img src="uploads/{{image}}" class="img-responsive" alt="">
										</div>
									</div>
									<div class="col-md-8 col-sm-8">
										<div class="company-content">
											<h3>{{post}}</h3>
											<p><span class="company-name"><i class="fa fa-briefcase"></i>{{firm}}</span><span
													class="company-location"><i class="fa fa-map-marker"></i> {{location}}
												</span><span class="package"><i class="fa fa-money"></i>${{salaryFrom}}-${{salaryTo}}</span></p>
										</div>
									</div>
									<div class="col-md-2 col-sm-2">
										<a type="button" href="/viewjob/{{id}}" class="btn view-job" name="View Job">View Job</a>
									</div>
								</div>
							</div>
				{{/each}}


		</div>
		<div class="row">
			<input type="button" action="/searchjob" class="btn brows-btn" value="Brows All Jobs">
		</div>
	</div>
</section>
		<!-- login section End -->

		<!-- footer start -->
		<footer>
			<div class="container">
				<div class="col-md-3 col-sm-6">
					<h4>Featured Job</h4>
					<ul>
						<li><a href="#">Browse Jobs</a></li>
						<li><a href="#">Premium MBA Jobs</a></li>
						<li><a href="#">Access Database</a></li>
						<li><a href="#">Manage Responses</a></li>
						<li><a href="#">Report a Problem</a></li>
						<li><a href="#">Mobile Site</a></li>
						<li><a href="#">Jobs by Skill</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<h4>Latest Job</h4>
					<ul>
						<li><a href="#">Browse Jobs</a></li>
						<li><a href="#">Premium MBA Jobs</a></li>
						<li><a href="#">Access Database</a></li>
						<li><a href="#">Manage Responses</a></li>
						<li><a href="#">Report a Problem</a></li>
						<li><a href="#">Mobile Site</a></li>
						<li><a href="#">Jobs by Skill</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<h4>Reach Us</h4>
					<address>
					<ul>
					<li>1201, Murakeu Market, QUCH07<br>
					United Kingdon</li>
					<li>Email: Support@job.com</li>
					<li>Call: 044 123 458 65879</li>
					<li>Skype: job@skype</li>
					<li>FAX: 123 456 85</li>
					</ul>
					</address>
				</div>

				<div class="col-md-3 col-sm-6">
					<h4>Drop A Mail</h4>
					<form>
						<input type="text" class="form-control input-lg" placeholder="Your Name">
						<input type="text" class="form-control input-lg" placeholder="Email...">
						<textarea class="form-control" placeholder="Message"></textarea>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>


			</div>
			<div class="copy-right">
			 <p></p>
			</div>
		</footer>

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>
		<script src="js/bootsnav.js"></script>
		<script src="js/main.js"></script>